/* aboutme.css*/

body {
    background-color: #5c5445;
    color: whitesmoke;
    font-family: Verdana, "Trebuchet MS", sans-serif;
}

hr {
    outline-style: hidden;
}

h1, h2, h3 {
    color: #9ac3fa;

}

ul, ol, p {
    font-size: smaller;
    font-family: Verdana;
}

.italic_text {
    font-style: italic;
}

.important_text {
    color: greenyellow;
    font-weight: bold;
}

.link{
    color: red;
    text-decoration:none;
}

.link:hover {
    text-decoration: underline;
}

p:first-letter {
    font-size: 1.5em;
}

.movie_feature {
    list-style-type: none;
    font-weight: bold;
    color: yellow;
}

.movie_feature_detail {
    list-style-type: none;
    font-size: 1.0em;
}

ol {
    display: flex;
    flex-direction: column-reverse;
}

ol li {
    flex: 0 0 auto;
}