/* index.css*/

body {
    margin: 0px auto;
}

.background {
    width: 100%;
}


h1 {
    color: #9ac3fa;
    font-weight: bold;
    text-align: center;
}

nav a {
    color: #A4A400;
}

.footer-text {
    text-align: right;
    padding: 10px;
}

footer {
    width: 100%;
    background-color: gray;
    color: #fff;
    position: absolute;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}