/* main-style.css*/

body {
    background-color: #5c5444;
    color: whitesmoke;
    font-family: "Trebuchet MS", sans-serif;
}

hr {
    box-shadow: dimgray;
}

/*footer style*/
footer {
    text-align: right;
}
