/* aboutme.css*/

/*body style*/
body {
    background-color: #5c5445;
    color: whitesmoke;
    font-family: Verdana, "Trebuchet MS", sans-serif;
}

/*heading style*/
h1, h2, h3 {
    color: #9ac3fa;
}

/*lists and paragraph style*/
ul, ol, p {
    font-size: smaller;
    font-family: Verdana;
}

ol {
    display: flex;
    flex-direction: column-reverse;
}

ol li {
    flex: 0 0 auto;
}

p:first-letter {
    font-size: 1.5em;
}

hr {
    outline-style: hidden;
}

/*important text style*/
.italic_text {
    font-style: italic;
}

.important_text {
    color: greenyellow;
    font-weight: bold;
}

/*class style*/
.link{
    color: red;
    text-decoration:none;
}

.link:hover {
    text-decoration: underline;
}

.movie_feature {
    color: yellow;
    list-style-type: none;
    font-weight: bold;
    font-size: 0.9em;
}

.movie_feature_detail {
    list-style-type: none;
    font-size: 0.9em;
}

/*footer style*/
footer {
    text-align: right;
}
